header {
    line-height: 4rem;
}

nav {
    /*  */
    position: absolute;
    width: 100%;
    background-color: inherit;
}

.nav-links {
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    
    
}

section.nav-links a {
    color: whitesmoke;
}

section.nav-links a:hover {
    color: rgb(98, 98, 134);
    
}

section.nav-links ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}



section.nav-links ul>* {
    flex-basis: 100%;
}

section.login-section {
    display: flex;
    justify-content: center;
}

.loginBtn {
    color: whitesmoke;
    background-color: chocolate;
    border: 0.1rem solid chocolate;
    border-radius: 0.5rem;
}

form.login-form {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: 999;
}

form.login-form >* {
    flex-basis: 100%;
} 


.mobile-menu-bar {
    box-sizing: border-box;
    background-color: black;
    color: whitesmoke;
    border: 0.1rem solid whitesmoke;
}

@media only screen and (min-width: 768px) {
    nav {
        position: relative;
    }
    .nav-links {
        display: flex;
        
    }
    section.nav-links ul {
        flex-direction: row;
    }

    /* form.login-form {
        display: block;
    } */
    .mobile-menu-bar { 
        display: none;
    }
}