<header>
    <h1><fa-icon [icon]="faCoffee"></fa-icon> {{logoText}}</h1>
    <nav>
        
        <button (click)="toggleNavBar()" class="mobile-menu-bar">
            <fa-icon [icon]="faBars"></fa-icon>
        </button>
        <section class="nav-links" #testi>
            <ul>
                <li>
                    <p>Cafeteria</p>
                </li>
                <li>
                    <p>Menu</p>
                </li>
                <li>
                    <p>Shop online</p>
                </li>

            </ul>
        </section>
        <section class="login-section">
            <form role="form" class="login-form" 
                (submit)="login()" 
                *ngIf="!auth.authenticated">
                <label for="username">Username: </label>
                <input type="text" name="username" [(ngModel)]="credentials.username">
                <label for="password">Password: </label>
                <input type="password" name="password" [(ngModel)]="credentials.password">
                <button type="submit">Login</button>
            </form>
            <button *ngIf="auth.authenticated"
                (click)="auth.logout()">Logout</button>
        </section>
    </nav>
</header>