@import '~reset-css/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

html {
    font-size: 62.5%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3.25rem;
}

h4 {
    font-size: 3rem;
}

p, label, input, button, a {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(90, 81, 81);
}

header {
    font-family: 'Kaushan Script', cursive;
}

header, footer {
    color: whitesmoke;
    background-color: #382518;
    text-align: center;
}

/* Styling for tabs */
.mat-tab-label {
    font-size: 3.2rem;

}

.mat-tab-labels {
    justify-content: center;
}

.mat-tab-header {
    border-bottom: 0.1rem solid;
}


.mat-tab-body-content.ng-tns-c15-0.ng-trigger.ng-trigger-translateTab {
    overflow: hidden;
}