<section class="greeting-page container">
    <div class="server-greeting">
        <p>{{greet}}</p>
    </div>
    <div class="container">
        <figure class="cafeteria">
            <!-- <img src="/assets/images/cafeteria.jpg" alt=""> -->
            <figcaption>Visit us!</figcaption>
        </figure>

        <figure class="menu" >
            <!-- <img src="/assets/images/menu.jpg" alt=""> -->
            <figcaption>Menu!</figcaption>
        </figure>

        <figure class="online" routerLink="shop">
            <!-- <img src="/assets/images/store-sign.jpg" alt=""> -->
            <figcaption>Buy Online!</figcaption>
        </figure>
    </div>
</section>