<h3>Account settings</h3>
<section>
    <article>
        <form>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">
                            <h4>User info</h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!displayModify">
                        <td>
                            <label><p>Username: {{authService.username}}</p></label>
                        </td>
                        
                    </tr>
                    <tr *ngIf="displayModify">
                        <td>
                            <label for="newUsername">New username: </label>
                        </td>
                        <td>
                            <input type="text" name="newUsername" 
                                [(ngModel)]="newUsername">
                        </td>
                    </tr>
                    
                </tbody>
                <tfoot>
                    <tr *ngIf="displayModify">
                        <th>
                            <button type="submit" (click)="updateUsername()">Save</button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button (click)="toggleModify()">Modify</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </form>
    </article>
    
    <article>
        <form>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">
                            <h4>Update password</h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label for="newPassword">New password</label>
                        </td>
                        <td>
                            <input type="text" name="newPassword" id="newPassword"
                                [(ngModel)]="newPassword">
                        </td>
                        <hr>
                        
                    </tr>
                    <tr>
                        <td>
                            <label for="retypePassword">Retype password</label>
                        </td>
                        <td>
                            <input type="password" name="retypePassword" id="retypePassword"
                                [(ngModel)]="retypedPassword">
                        </td>
                    </tr>
                    <tr>
                       <th colspan="2">
                           <hr>
                       </th>
                    </tr>
                    <tr>
                        <td>
                            <label for="oldPassword">Old password</label>
                        </td>
                        <td>
                            <input type="password" name="oldPassword" id="oldPassword"
                                [(ngModel)]="oldPassword">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            <button type="submit" (click)="updatePassword()">Update password</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </form>
    </article>
</section>
